<ng-include src="'/engine/application/views/partials/header.html'"></ng-include>
<ng-include src="'/engine/application/views/partials/sidebar.html'"></ng-include>

<div id="content-wrapper">
  <div class="row">
    <div class="col-md-12">
      <h3>WELCOME</h3>
    </div>
  </div>
</div>