<!doctype html>
<html ng-app="sohai">
	<head>
		<title>Corner - Engine</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<!-- LIBRARIES -->
		<link rel="stylesheet" href="/engine/assets/bower_components/bootstrap/dist/css/bootstrap.min.css" />

		<link rel="stylesheet" href="https://raw.githubusercontent.com/samrayner/bootstrap-side-navbar/gh-pages/assets/stylesheets/navbar-fixed-side.css" media="screen" title="no title">

		<link rel="stylesheet" href="/engine/assets/bower_components/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/engine/assets/bower_components/angular-loading-bar/src/loading-bar.css" />
		<link rel="stylesheet" href="/engine/assets/bower_components/angular-toastr/dist/angular-toastr.min.css">
		<link rel="stylesheet" href="/engine/assets/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
		<link rel="stylesheet" href="/engine/assets/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css">
		<link rel="stylesheet" href="/engine/assets/bower_components/angular-datatables/dist/css/angular-datatables.min.css">
		<link rel="stylesheet" href="/engine/assets/bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css">
		<link rel="stylesheet" href="/engine/assets/css/jquery.ui.min.css">
		<link rel="stylesheet" href="/engine/assets/bower_components/magnific-popup/dist/magnific-popup.css">

		<!-- CUSTOM STYLES -->
		<link rel="stylesheet" href="/engine/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/engine/assets/css/style-mobile.css" type="text/css" />
	</head>
	<body>
		<div ng-view></div>

		<!-- LIBRARIES -->
		<!-- <script src="/engine/assets/bower_components/requirejs/require.js"></script> -->
		<script src="/engine/assets/bower_components/tinymce/tinymce.js"></script>
		<script src="/engine/assets/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/engine/assets/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
		<script src="/engine/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/engine/assets/bower_components/angular/angular.min.js"></script>
		<script src="/engine/assets/bower_components/angular-loading-bar/src/loading-bar.js"></script>
		<script src="/engine/assets/bower_components/angular-route/angular-route.min.js"></script>
		<script src="/engine/assets/bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>
		<script src="/engine/assets/bower_components/angular-resource/angular-resource.min.js"></script>
		<script src="/engine/assets/js/ui-bootstrap-tpls-1.1.0.min.js"></script>
		<script src="/engine/assets/bower_components/angular-ui-tinymce/src/tinymce.js"></script>
		<script src="/engine/assets/bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
		<script src="/engine/assets/bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>

		<!-- <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script> -->

		<script src="/engine/assets/bower_components/moment/min/moment.min.js"></script>
		<script src="/engine/assets/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
		<script src="/engine/assets/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
		<script src="/engine/assets/bower_components/humanize-plus/dist/humanize.min.js"></script>
		<script src="/engine/assets/bower_components/highcharts/highcharts.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js"></script>
		<script src="/engine/assets/js/jquery.ui.min.js"></script>
		<script src="/engine/assets/bower_components/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
		<script src="/engine/assets/bower_components/underscore/underscore-min.js"></script>
		<script src="/engine/assets/js/forge.min.js"></script>
		<script src="/engine/assets/js/custom.plugin.js"></script>

		<!-- APPLICATION -->
		<script>
			var config = { NAME: 'sohai', ENVIRONMENT: '{{- environment -}}' };
		</script>
		<script src="/engine/application/config.js"></script>
		<script src="/engine/application/routes.js"></script>
		<script src="/engine/application/app.js"></script>

		<!-- SERVICES -->
		<script src="/engine/application/services/ajax.js"></script>
		<script src="/engine/application/services/auth.js"></script>

		<!-- APPLICATION CONTROLLERS -->
		<script src="/engine/application/views/login/login.js"></script>
		<script src="/engine/application/views/dashboard/dashboard.js"></script>
		<script src="/engine/application/views/product/product.js"></script>		
	</body>
</html>
