<ng-include src="'/engine/application/views/partials/header.html'"></ng-include>
<ng-include src="'/engine/application/views/partials/sidebar.html'"></ng-include>



<div id="content-wrapper" ng-init="loadData();">
	<h3>Detail Product</h3>
	</br>	
	<div class="row">
		<div class="col-md-12">
				<div class="form-group">
					<span class="text-purple strong">Title</span>
					<input type="text" name="imagetitle" class="form-control" ng-model="model.product.title">
				</div>			
				<div class="form-group">
					<span class="text-purple strong">Url Detail</span>
					<input type="text" name="title" class="form-control" ng-model="model.product.url">
				</div>
				<div class="form-group">
					<span class="text-purple strong">Images</span>
					<img ng-src= "{{model.product.urlImage}}"style="height: 300px;width: 300px;">
				</div>
				<div class="form-group">
					<span class="text-purple strong">Price</span>
					<input type="text" name="slug" class="form-control"  ng-model="model.product.price.number">
				</div>
				<div class="form-group">
					<span class="text-purple strong">Color</span>
					<input type="text" name="enSlug" class="form-control"  ng-model="model.product.color">
				</div>
				<div class="form-group">
					<span class="text-purple strong">Content</span>
					<textarea ui-tinymce="tinymceOptions" name="content" ng-model="model.product.desc"></textarea>
				</div>
		</div>
	</div>
</div>