<ng-include src="'/engine/application/views/partials/header.html'"></ng-include>
<ng-include src="'/engine/application/views/partials/sidebar.html'"></ng-include>


<div id="content-wrapper">
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2">
				<h3>Product</h3>
			</div>
		</div>
	</div>

	<div class="row" ng-init="loadProduct();">
	  	<div class="col-md-12">
			<table class="table table-blue">
			    <thead>
			      <tr>
			        <th>No</th>
			        <th>Title</th>
			        <th>Price</th>
			         <th>Action</th>
			      </tr>
			    </thead>
				<tbody>
					<tr ng-if="product.length == 0" >
						<td colspan="9">No result.</td>  
					</tr>
					<tr class="row-marketplace" ng-repeat="(key, row) in product">				
						<td class="text-center" style="text-transform: capitalize;">{{ $index+1 }}</td>
						<td class="text-center">{{ row.title }}</</td>
						<td class="text-center">{{row.price.string }} </td>
						<td class="text-center">
							<a href="#/product/detail/{{ row._id }}"><span  class="glyphicon glyphicon-eye-open"></span></a>
							<span ng-click="delete(row._id);" data="{{ row._id }}" class="glyphicon glyphicon-trash"></span>
						</td>
					</tr>
					
				</tbody>
			  </table>
		</div>
	</div>
</div>