@import 'font.css';

body { font-family: 'Open Sans'; }

input { height: auto !important; }

#form-login { margin-top: 50px; }
#form-login input { border-radius: 0; padding: 20px; margin-bottom: 10px; }
#form-login .btn { padding: 15px; width: 100%; }

h1, h2, h3, h4, h5, h6 { padding: 0; margin: 0; }
label { font-weight: normal !important; }
.clear { clear: both; }

header {
	color: #fff;
	/*background: #7F3F8E;*/
	background: #790ecb;
	width: 100%;
	padding: 15px;
	display: block;
}

header #brand {
	padding: 5px 0;
}

header #profile img {
	height: 30px !important;
	border-radius: 50%;
}

header ul, header ul li#profile ul { margin: 0; padding: 0; list-style-type: none; }

header ul li { float: left; margin-top: 1px; padding: 2px 20px; }
header ul.mobile-menu li { 
	margin-top: 1px; 
	padding: 2px 20px; 
}
/*header ul li:first-child { border-right: solid 1px #fff; }*/

header ul li#notif label#notification-no {
	background: #c50f29;
	padding: 2px 6px;
	border-radius: 50%;
	font-size: 10px;
}
header ul li#notif:hover { cursor: pointer; }
header ul li#notif ul {
	display: none;
	width: 300px;
	background: #fff;
	position: absolute;
	background: #fff;
	z-index: 999;
	top: 60px;
	right: 200px;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}

header ul li#notif ul li { width: 100%; color: #000 !important; font-size: 10px; border-bottom: solid 1px #ddd; }
header ul li#notif ul li { padding: 10px !important; }
header ul li#notif ul li:last-child { border-bottom: none; }
header ul li#notif ul li.bg-blue { background: #f4f8fa; }
header ul li#notif ul li .pull-right { color: #c50f29;  }

header ul li#profile span { display: block; font-weight: bold; }
header ul li#profile span:hover { cursor: pointer; }

header ul li#profile ul {
	display: none;
	width: 200px;
	position: absolute;
	background: #fff;
	z-index: 999;
	top: 60px;
	right: 20px;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	padding: 10px;
}
header ul li#profile ul li { float: none; width: 100%; }
header ul li#profile ul li a { display: block; color: #000; }
header ul li#profile hr { margin: 5px 0 !important; }


aside {
	background: #7F3FCE;
	width: 240px;
	position: absolute;
	margin-top: 60px;
	top: 0;
	bottom: 0;
	overflow: auto;
}

aside #profile {
	background: #090a0f;
	padding: 20px;
	color: #788288;
}

aside #profile img {
	height: 70px;
	border-radius: 50%;
	margin-right: 20px;
}

aside ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

aside ul li {
	padding: 13px 10px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
}

aside ul li.active {
	background: #7F3F73;
	color: #fff;
}

aside ul li:hover {
	cursor: pointer;
	background: #7F3F73;
	color: #fff;
}

aside ul li i {
	margin-right: 20px;
	color: #fff;
}

aside ul li ul {
	display: none;
	margin: 10px !important;
	padding: 0 !important;
}

aside ul li ul li {
	padding-left: 25px;
	border-bottom: solid 1px #fff;
}

aside ul li ul li:last-child {
	border-bottom: none;
}

aside ul li ul li.active, aside ul li ul li:hover {
	background: #0b4469;
}

#content-wrapper {
	background: #fff;
	color: #788288;
	position: absolute;
	top: 0;
	width: 100%;
	bottom: 0;
	margin-top: 61px;
	margin-left: 240px;
	overflow: auto;
	padding: 20px 46px;
}

#content-wrapper .row {
	margin-bottom: 15px;
}

#content-wrapper input, #content-wrapper textarea, #content-wrapper select {
	border-radius: 0px !important; margin-top: 10px; margin-bottom: 10px;
}

#content-wrapper select {
	background-image: url('/investors/assets/images/icon-caret-down.png');
	background-repeat: no-repeat;
	background-position: right center;
	-webkit-appearance: none;
}

input.date {
	background-image: url('/investors/assets/images/icon-calendar.png');
	background-repeat: no-repeat;
	background-position: right center;
}

#content-wrapper a.btn {
	border-radius: 0; padding: 15px;
}

#content-wrapper .box-white {
	width: 100%;
	background: #fff;
	border-radius: 0;
	padding: 20px;
	border-bottom: solid 1px #ddd;
}

#content-wrapper h1.title {
	font-size: 16px;
	color: #65acda;
}

#content-wrapper h1.title strong {
	color: #005891 !important;
}

.tab-pane {
	background: #fff;
	padding: 10px;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.click:hover { cursor: pointer; }
.clear { clear: both; }

/* CUSTOM TAB PANEL */
.navigation-tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-tabs li {
  padding: 10px;
  float: left;
}

.navigation-tabs li:hover {
  background: #e2e2e2;
  cursor: pointer;
}

.navigation-tabs li.active {
  border-top: solid 1px #ddd;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}

.tabs-panel {
  border-top: solid 1px #ddd;
  padding-top: 20px;
  display: none;
}

.tabs-panel.active {
  display: block;
}

.toggle-on, .toggle-off { border-radius: 20px; }
.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px; }
.toggle.ios .toggle-handle { border-radius: 20px; }

.padding-10 { padding: 10px; }
.margin-10 { margin: 10px; }

.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }

.no-margin-left { margin-left: 0 !important; }
.no-margin-right { margin-right: 0 !important; }

.bg-fc { background: #fcfbfb !important; }
.bg-f4 { background: #f4f4f4 !important; }
.bg-f6 { background: #f6f6f6 !important; }
.bg-005891 { background: #005891 !important; }
.bg-2477b9 { background: #2477b9 !important; }
.bg-f0f4fc { background: #f0f4fc !important; }

.text-purple { color: #451b55 !important; }
.text-black { color: #000 !important; }
.text-green-tosca { color: #11aaa5 !important; }
.text-red { color: #a51320 !important; }

.strong { font-weight: bold !important; }

.hr-9c { border: solid 1px #9c9c9c !important; }

.btn-primary-purple {
	width: 100%;
	background: #451b55;
	padding: 20px;
	color: #fff;
	border-radius: 5px !important;
}
.btn-primary-purple:hover { background: #632a78; color: #fff; }

.valign-middle {
	display: table-cell;
	vertical-align: middle;
}

.text-white { color: #fff; }

.table-blue thead {
	background: #005893;
	color: #fff;
	font-size: 10px;
}
.table-blue thead th {
	vertical-align: middle !important;
	text-align: center;
}
.table-blue tbody td {
	font-size: 11px;
	vertical-align: middle !important;
	text-align: center;
}

form.form-inline {
	padding: 20px 0;
}
form.form-inline label {
	margin-right: 20px;
}
form.form-inline input {
	width: 300px !important;
	padding: 30px 20px;
	margin-right: 20px;
}
form.form-inline .btn-primary-purple{
	width: auto !important;
	padding-left: 40px;
	padding-right: 40px;
}

.advance-search-box {
	padding: 30px 0;
}
.advance-search-box .col-md-3 {
	margin-top: 10px;
	margin-bottom: 10px;
}
.advance-search-box h5 {
	margin-bottom: 10px;
}

#table-marketplace.table>tbody+tbody {
	border-top: none !important;
}
.row-marketplace:hover {
	background: #f0f4fc;
	cursor: pointer
}
.row-marketplace-info td {
	background: #f0f4fc;
	padding: 30px !important;
}
.row-marketplace-info .col-md-4 {
	text-align: left
}
.row-marketplace-info .col-md-4 p {
	color: #000;
}

input.custom-search {
	width: auto !important;
	padding: 5px !important;
	margin-left: 10px !important;
	margin-right: 0 !important;
	margin-bottom: none;
}
.btn-primary-purple.custom-search {
	border: solid 1px #451b55;
	border-radius: 0 !important;
	padding: 5px 15px !important;
	margin-top: -2px;
	margin-left: -5px;
}

.height-40 { height: 40px !important; display: table; }
.height-200 { width: 100%; height: 150px !important; display: table; }

.v-middle { display: table-cell; vertical-align: middle; }

.font-24 { font-size: 24px; }

.sidebar-icon { margin-right: 10px; height: 20px; }

.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.date-box { width: 45px; background: #7e3e97; padding: 5px 10px; color: #fff; font-weight: bold; display: inline-block !important; text-align: center; }

#loading-bar .bar {
	background: #fff;
	height: 4px;
}

#loading-bar-spinner .spinner-icon {
	width: 18px;
	height: 18px;
	border: solid 4px transparent;
	border-top-color: #fff;
	border-left-color: #fff;
	border-radius: 10px;
}

#myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  border: solid 1px #ebebeb;
  border-radius: 5px;
  margin-top: 15px;
}
#myBar {
  position: absolute;
  height: 100%;
  background-color: #451b55;
  border-radius: 5px;
  color: #fff;
  padding: 7px 5px;
  font-size: 10px;
}

.box-peluang-investasi .credit-point-return {
    display: none;
}

.box-peluang-investasi .credit-point-return div {
    font-size: 28px !important;
}

.box-peluang-investasi .credit-point-return small {
    font-size: 12px !important;
}

.box-peluang-investasi a.btn.btn-primary-purple {
    display: inline-block;
    background: #451b55;
    color: #fff;
    margin: 15px 0;
    font-size: 12px;
}

.box-peluang-investasi .credit-score-top,
.box-peluang-investasi .sign-up-wrapper {
    display: none;
}

.box-peluang-investasi .credit-score-top {
    padding: 0px !important;
    margin-top: 10px !important;
}

.box-peluang-investasi:hover {
    cursor: pointer;
}

.box-peluang-investasi:hover .box-content-default {
    background: #ebebeb;
}

.box-peluang-investasi:hover .box-content-default h4.text-purple,
.box-peluang-investasi:hover .box-content-default .credit-point,
.box-peluang-investasi:hover .box-content-default .credit-score,
.box-peluang-investasi:hover .box-content-default .category {
    display: none;
}

.box-peluang-investasi:hover .box-content-default .credit-score-top,
.box-peluang-investasi:hover .box-content-default .credit-point-return,
.box-peluang-investasi:hover .box-content-default .sign-up-wrapper,
.box-peluang-investasi:hover .box-content-default .disbursed-date {
    display: block;
}

.box-grey {
    background: #fff;
    border: solid 1px #e2e2e2;
    margin-bottom: 10px;
}

.box-grey .wrapper {
    padding: 20px 20px 10px;
}

.box-grey .wrapper .category {
    margin-top: 10px;
    color: #451b55;
}

.box-grey .wrapper h4.text-purple {
    color: #451b55;
    padding: 0 50px;
    font-weight: 600;
    line-height: 24px;
    height: 84px;
}

.box-grey .credit-point-return,
.box-grey .credit-point {
    color: #fff;
    background-color: #7e3e97;
    padding: 10px 0;
    font-size: 20px;
}

.box-grey .credit-score-top,
.box-grey .credit-score {
    padding: 10px;
}

.box-grey .credit-score-top h5.text-purple,
.box-grey .credit-score h5.text-purple {
    color: #451b55;
    font-size: 12px;
}

.box-grey .credit-score-top h5.text-purple span,
.box-grey .credit-score h5.text-purple span {
    background: #028902;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    color: #fff;
    font-weight: 600;
    margin-left: 10px;
}

.box-grey .disbursed-date {
    display: none;
    margin-top: 10px !important;
}

.box-grey .disbursed-date h5.text-purple {
    color: #451b55;
    font-size: 12px;
}

.marketplace-available h4.text-purple,
.marketplace-funded h4.text-purple {
    height: 72px !important;
    vertical-align: middle !important;
}

#peluang-investasi a {
  padding-top: 70px;
  width: 200px;
  height: 200px;
  border-radius: 80%;
  display: inline-block;
  border: solid 5px #dadada;
  color: #dadada;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}

#peluang-investasi a.active, #peluang-investasi a:hover {
  border: solid 5px #82009b;
  color: #82009b;
  font-weight: bold;
}

.rangeslider__fill {
	background: red !important
}

input {
	height: auto !important;
}

@media only screen and (max-width: 1280px) {
  #content-wrapper {
  	padding: 20px 50px;
  }
}

#referral .box {
	padding-top: 8px;
	margin-bottom: 15px;
	font-weight: normal !important;
	font-size: 11px;
}
#referral-code {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 7px;
	font-size: 18px;
	text-align: center;
	background: #0080B2;
}
#referral span { margin-top: 5px; font-size:11px; }
/* fixing modal at firefox */
.modal.fade .modal-dialog{transform:none !important;}
#modal-referral	{ color: #fff }
#modal-referral .modal-content { background: #0080B2; }
#modal-referral .notice { font-size: 10px; padding-left: 30px; }
#modal-referral .modal-header { text-align: center; padding-bottom: 10px; border-bottom: none !important  }
#modal-referral .modal-header hr { width: 30px; margin-top: 15px }
#modal-referral .modal-body  ul { font-size: 12px; margin-top: 18px }
#modal-referral .title { margin-top: 30px; font-size: 18px }
#modal-referral .notice { font-size: 10px; padding-left: 30px; }
#modal-referral .modal-body ul { font-size: 12px; margin-top: 18px }
#modal-referral	.modal-footer { border-top: none; text-align: center; }
#modal-referral #share { margin-top: 20px; text-align: center;  }
#modal-referral .via-email { margin-top: 15px; text-align: center; padding-left: 20%; padding-right: 20%;  }
#modal-referral .via-email span  {  background: #00aced; border: none;color: #fff; }
#modal-referral .via-email span:hover  {  background: #005891 !important; border: none; color: #fff; }
#modal-referral #share img { width: 167px  }

img#idcard { margin: 10px 10px; width: 70px; height: 30px }
img#taxcard { margin: 10px 10px; width: 70px; height: 30px }
