@media screen and (max-width: 414px) {
  body{
      max-width: 500px;
      margin: auto;
      background: white;
  }

  header ul.menu-mobile li{
        /*float: left;*/
    margin-top: 1px;
    padding: 2px 20px;
  }
  hr.mobile{
    margin-top: 0px; 
    margin-bottom: 0px; 
    border: 0;
    border-top: 1px solid #eee;
  }
  .mobile-menu{
    padding-top: 10px;
    background-color: #005891;
    color: white;
  }
  .mobile-menu ul.content{
  }

  #content-wrapper{
    background: #fff;
    color: #788288;
    /*position: absolute;*/
    top: 0;
    /*width: 100%;*/
    bottom: 0;
    margin-top: 61px;
    display: block;
    width: 0 !important;
     margin-left: 0 !important;
    overflow: auto;
    padding: 20px 200px;
  }
  aside{
    width: 0;
  }

  /*  Dashboard Page */

  /*  Dashboard End */
  
  /*  Marketplace Page */
  .title-page-mobile{
    padding: 20px;
  }
  .peluang-investasi-mobile{
    padding-bottom: 20px;
  }
  .peluang-investasi a{
    padding-top:30px;
    width: 120px;
    height: 120px;
    border-radius: 80%;
    display: inline-block;
    border: solid 5px #dadada;
    color: #dadada;
    text-decoration: none;
  }
  .peluang-investasi a.active.
  .peluang-investasi a:hover{
    border: solid 5px #82009b;
    color: #82009b;
    font-weight: bold;
  }
  .form-marketplace{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .credit-score-mobile {
    padding: 20px;
  }

  /*  Marketplace End */

}


