<div id="form-login" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <form ng-submit="login();">
        <h3 class="text-center">CORNER ENGINE</h3>
        <hr>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Username" ng-model="model.username">
          <input type="password" class="form-control" placeholder="Password" ng-model="model.password">
          <input type="submit" class="btn btn-primary" value="Sign In">
        </div>
      </form>
      <hr>
      <p class="text-center">
        <small>
          Copyright &copy; 2018. 
          <br/>
          <a href="">Cornerer Engine System</a>. All rights reserved.
        </small>
      </p>
    </div>
  </div>
</div>