<header class="">
	<div class="pull-left">
		<!-- <h4 id="brand">AMARTHA</h4> -->
		<img src="" width="120" />
	</div>

	<div class="pull-right">
		<label class="visible-xs" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i class="fa fa-bars" aria-hidden="true" style="font-size:20px;"></i></label>
	</div>

	<div id="profile" class="pull-right hidden-xs hidden-sm">
		<ul>
		
			<li id="profile" ng-click="openProfileMenu();">
				<span>
					Hi, {{ user.name }}
					&nbsp;&nbsp;&nbsp;
					<i class="fa fa-caret-down"></i>
				</span>

				<ul>
					<li>
						<a href="#/settings"><i class="fa fa-gear"></i> SETTINGS</a>
					</li>
					<hr>
					<li ng-click="logout();">
						<a href="#"><i class="fa fa-sign-out"></i> LOGOUT</a>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	</div>
	<div class="clear"></div>

	<div class="hidden-xs">
		<ul class="nav navbar">
		</ul>
	</div>

</header>