<!-- <h1>{{pageActive}}</h1> -->
<div class="">
	<aside class="hidden-xs">
		<ul>
			<li ng-click="redirectPage('home')"
				ng-class="{ 'active': pageActive == 'home'}">
				<img src="" class="sidebar-icon" /> Dashboard
			</li>

			<li ng-show="checkuser.localstorege != 'defaultuser'"
				ng-click="redirectPage('product')"
				ng-class="{ 'active': pageActive == 'product'}">
				<i class="fa fa-pencil-square-o"></i> Product
			</li>

		</ul>

	</aside>
</div>
